body, html {
	height: 100%;
}

body, h1, h2, h3, h4, h5, h6, html {
	margin: 0;
	padding: 0;
}


body {
	background: #FDFFFF;
	font: 1em Arial, Helvetica, Verdana sans-serif;
}

header {
	background: #222;
	border-bottom: 4px solid #33B5E5;
	overflow: hidden;
	padding: 10px 20px;
}

header h1 {
	color: #FFF;
	font: 2.5em 'Times New Roman', Times, serif;
	font-weight: bold;
	line-height: 48px;
}

header img {
	line-height: 48px;
	margin-right: 20px;
	float: left;
	height: 48px;
	width: 48px;
}

input[type="button"]:active {
	background: #33B5E5;
	border-color: #1193C3;
	box-shadow: 0 0 20px #33B5E5;
}
input[type="button"], .clickable {
	background: #CCC;
	border: 1px solid #CCC;
	border-bottom-color: #AAA;
	border-radius: 1px;
	color: #000;
	padding: 5px 12px;
	text-decoration: none;
}

#main-content {
	padding: 10px;
}

#sync-container {
	overflow: hidden;
	padding: 10px;
}

#sync-container > div:first-child {
	float: right;
}

#sync-container > div:nth-child(2n) {
	margin-right: 70px;
	padding-top: 15px;
}

#sync-container .loading {
	background: #DDD;
	height: 4px;
}

#sync-container .loading > div{
	background: #33B5E5;
	height: 4px;
	width: 0px;
}

#wrapper {
	background: #FFF;
	box-shadow: 0 0 20px #CCC;
	margin: 0 auto;
	max-width: 780px;
	min-height: 100%;
}

#wrapper > footer {
	color: #AAA;
	text-align: center;
}