/**
 * @author		Aidan Grabe
 * @version		20130119
 * @since		20121208
 * Colors:
 * -------
 * Background: 				#e7ebf2
 * Blue Borders: 			#c4cde0
 * Description: 			#f4f5f9
 * Header: 					#3b5998
 * Header-bottom-border: 	#133783
 * Grey-borders: 			#CCC
 * Links: 					#3b59a3
 * Text: 					#6a6666
 */

body, h1, h2, h3, h4, h5, h6, html {
	margin: 0;
	padding: 0;
}

aside {
	float: right;
	width: 160px;
}

body {
	background: #E7EBF2;
	font: 1em Arial, Helvetica sans-serif;
}

body > footer {
	color: #AAA;
	margin: 20px 0;
	font-size: .8em;
	text-align: center;
}

.container {
	margin: auto;
	max-width: 1080px;
	overflow: hidden;
}

#description {
	background: #f4f5f9;
	border-bottom: 1px solid #CCC;
	padding: 20px;
}

#description .ablum-description {
	width: 80%;
}

header {
	background: #3b5998;
	border-bottom: 1px solid #133783;
	color: #FFF;
	height: 37px;
}

header h1 {
	font-size: 1.5em;
	line-height: 39px;
}

img, iframe {
	vertical-align: bottom;
}

#main-container {
	padding: 10px 0;
}

#main-content {
	background: #FFF;
	border: 1px solid #c4cde0;
	border-bottom-width: 2px;
	border-radius: 3px;
	margin-right: 170px;
}

.social {
	float: right;
	padding: 0 0 20px 20px;
}
