/**
 * @author		Aidan Grabe
 * @version		20130114
 * @since		20121208
 * Colors:
 * -------
 * Background: 				#e7ebf2
 * Blue Borders: 			#c4cde0
 * Description: 			#f4f5f9
 * Header: 					#3b5998
 * Header-bottom-border: 	#133783
 * Grey-borders: 			#CCC
 * Links: 					#3b59a3
 * Text: 					#6a6666
 */

body, h1, h2, h3, h4, h5, h6, html {
	margin: 0;
	padding: 0;
}

aside {
	float: right;
	width: 160px;
}

#ad-popup {
	display: none;
	position: fixed;
	right: 0;
	bottom: -8px;
	z-index: 100;
}

#ad-popup .close {
	background: #EE6666;
	border-radius: 12px;
	color: #FFF;
	cursor: pointer;
	height: 24px;
	line-height: 24px;
	margin: -12px 0 0 -12px;
	position: absolute;
	z-index: 101;
	text-align: center;
	width: 24px;
}

#bigImage {
	position: fixed;
	left: 50%;
	top: 50%;
}

#bigImage img {
	border: 10px solid #FFF;
	border-radius: 10px;
	box-shadow: 0 0 40px #000;
	cursor: pointer;
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
}

#bigImage span {
	color: #EEE;
	display: block;
	left: 50%;
	position: fixed;
	top: 50%;
	visibility: hidden;
}

body {
	background: #E7EBF2;
	font: 1em Arial, Helvetica sans-serif;
}

body > footer {
	color: #AAA;
	margin: 20px 0;
	font-size: .8em;
	text-align: center;
}

.container {
	margin: auto;
	max-width: 1080px;
	overflow: hidden;
}

#disqus-comments {
	padding: 10px;
}

#description {
	background: #f4f5f9;
	border-bottom: 1px solid #CCC;
	padding: 20px;
}

#description .ablum-description {
	width: 80%;
}

header {
	background: #3b5998;
	border-bottom: 1px solid #133783;
	color: #FFF;
	height: 37px;
}

header h1 {
	font-size: 1.5em;
	line-height: 39px;
}

#images {
	overflow: hidden;
}

#images > div {
	border-radius: 2px;
	float: left;
}

#images > div img {
	background: #f4f5f9;
	border-color: #c4cde0;
	border-radius: 2px;
	cursor: pointer;
}

#images > div img:hover {
	border-color: #3b59a3;
}

#main-container {
	padding: 10px 0;
}

#main-content {
	background: #FFF;
	border: 1px solid #c4cde0;
	border-bottom-width: 2px;
	border-radius: 3px;
	margin-right: 170px;
}

#pages {
	display: table;
	margin: 10px auto;
	overflow: hidden;
}

#pages span {
	background: #EEE;
	border: 1px solid #CCC;
	border-radius: 2px;
	color: #AAA;
	cursor: pointer;
	display: block;
	float: left;
	margin: 0 5px;
	padding: 5px 10px;
}

#pages span:hover {
	border-color: #000;
	color: #000;
}

#shadow {
	background: rgba( 0, 0, 0, 0.75);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.social {
	float: right;
	padding: 0 0 20px 20px;
}
